<mat-list>
  <mat-list-item>
    <div matListItemTitle>Dog</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Cat</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Lion</div>
  </mat-list-item>

  <mat-list-item>
    <div tourAnchor="cow-anchor" matListItemTitle>Cow</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Bird</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Rabbit</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Leopard</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Camel</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Bear</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Deer</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Fox</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Pig</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Goat</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Horse</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Zebra</div>
  </mat-list-item>

  <mat-list-item>
    <div matListItemTitle>Giraffe</div>
  </mat-list-item>

  <mat-list-item>
    <div tourAnchor="donkey-anchor" matListItemTitle>Donkey</div>
  </mat-list-item>
</mat-list>
