.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.icons {
  width: 100%;
  height: 50px !important;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 20px;
  width: 300px;
}
