:host {
  display: flex;
  height: 90%;
  width: 100%;
}

.home-container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    width: 50%;
  }
}
